.App {
  height: 100%;
}

.vote{
    font-family: 'Freight-Text-Pro-Semi-bold';
    font-size: 25px;
    text-align: left;
    color: #121212;
    text-align: center;
    margin: 10px auto;
}

.CardDeck {
  position: relative;
  margin: auto;
  height: 65%;
}

.Card {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background-color: white;
  height: 60vh;
  width: 50vh;
  margin: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.Card img {
  width: 50vh;
}

.Buttons {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  justify-content: space-around;
  margin-top:5vh;
}

.button {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65px;
  width: 65px;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
  border-radius: 1000px;
}

.button.positive {
  color: #63DF99;
}

.button.negative {
  color: #FD7157;
}

.card-info {
    position: fixed;
    bottom: 0;
    left: 0;
    color: #000;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px;
}

.welcome {
    display: flex;
    flex-direction: column;
    background: #ccc;
    padding: 0  10vw;
    text-align: center;
    height: 100vh;
    background-image: url("/rpbg.png");
}

.rpLogo{
        width: 121px;
        height: 92px;
        object-fit: contain;
        margin: 95px auto 50px auto;
}

.mainTitle {
    font-size: 24px;
    letter-spacing: 1px;
    text-align: center;
    font-family: 'freight-text-pro', serif;
    color: #ffffff;
}

.subTitle {
    font-size: 15px;
    letter-spacing: 0.6px;
    text-align: center;
    font-family: "Proxima Nova";
    color: #ffffff;
}

.startButton {
    font-family: 'Proxima Nova';
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.4px;
    text-align: center;
    color: #121212;
    text-transform: uppercase;
    width: 259px;
    height: 44px;
    background-color: #ffbf19;
    margin: 10px auto;
    box-shadow: 0px 0px 10px #888888;
    border:none;
}

.results {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #fff;
  padding: 0 10vw;
  text-align: center;
  height: 100vh;
  background-image: url("/rpbg.png");
  overflow: scroll
}

.refresh {
  font-size: .8em;
  font-style: italic;
  margin-bottom: 10px
}

.resultsList {
  display: grid;
  grid-template-columns: 1fr
}

.resultItem {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  padding: 5px;
  border-bottom: 1px solid #f6f8fa91;
}

.resultPlace {
  grid-column: 1;
  grid-row: 1
}

.resultName {
  grid-column: 2/4;
  grid-row: 1
}

.resultTotal {
  grid-column: 4;
  grid-row: 1
}