.App {
  height: 100%;
}

.CardDeck {
  position: relative;
  margin: auto;
  height: 65%;
}

.Card {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background-color: white;
  height: 45vh;
  width: 45vh;
  margin: auto;
  box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.Card img {
  width: 45vh;
}

.Buttons {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  justify-content: space-around;
}

.button {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  padding: 10px;
  box-shadow: 2px 2px 10px 3px rgba(0, 0, 0, 0.2);
  border-radius: 1000px;
}

.button.positive {
  color: #63DF99;
}

.button.negative {
  color: #FD7157;
}

.card-info {
    position: fixed;
    bottom: 10%;
    left: 10%;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 5px;
}

.welcome {
    display: flex;
    flex-direction: column;
    background: #ccc;
    padding: 0  10vw;
    text-align: center;
    height: 100vh;
    background-image: url("/rpbg.png");
}

.rpLogo{
        width: 121px;
        height: 92px;
        object-fit: contain;
        margin: 95px auto 50px auto;
}

.mainTitle {
    font-size: 24px;
    letter-spacing: 1px;
    text-align: center;
    font-family: 'freight-text-pro', serif;
    color: #ffffff;
}

.subTitle {
    font-size: 15px;
    letter-spacing: 0.6px;
    text-align: center;
    font-family: "Proxima Nova";
    color: #ffffff;
}

.startButton {
    font-family: 'Proxima Nova';
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.4px;
    text-align: center;
    color: #121212;
    text-transform: uppercase;
    width: 259px;
    height: 44px;
    background-color: #ffbf19;
    margin: 0 auto;
    box-shadow: 0px 0px 10px #888888;
    border:none;
}